<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
</head>
<body>
    <%-include('../inc/Top.ejs') %>
    <hr />
    <div class="container">
        <h2>새 상품 추가</h2>
        <form action="/shop/insert" id="form" method="post" enctype="multipart/form-data">
            <table class="table">
                <tr>
                    <th>NAME</th>
                    <td><input type="text" name="name" value=> </td>
                </tr>
                <tr>
                    <th>PRICE</th>
                    <td><input type="number" name="price" value=""/></td>
                </tr>
                <tr>
                    <th>YEAR</th>
                    <td><input type="number" name="year" value=""/></td>
                </tr>
                <tr>
                    <th>COMPANY</th>
                    <td><input type="text" name="company" value=""/></td>
                </tr>
                <tr>
                    <th>PHOTO</th>
                    <td><input multiple type="file" name="photo" id="photoInput" value=""/></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div id = "photo">사진 미리보기 영역</div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button>추가하기</button>
                        
                    </td>
                </tr>
                
            </table>
        </form>
        <hr/>
        <%-include('./ShopNav.ejs') %>
    </div>
    <script src="/resources/js/inputch.js"></script>
    <script>
        var myFileInput = document.getElementById('photoInput');
        myFileInput.onchange = function(e){
            var input =e.target;
            if(input.files.length > 0){
                var prevImg = document.getElementById('photo');
                prevImg.innerHTML ="";
                console.dir(input.files);
                for(var i =0; i<input.files.length; i++ ){
                    var reader = new FileReader();
                    reader.onload = function(e) {
                    // 실행 결과 처리
                    var imgTag = document.createElement("img");
                    imgTag.src = e.target.result;
                    imgTag.style.width="100px";
                    prevImg.appendChild(imgTag);
                    }
                    // Ajax엣와 같이 실행 함수, 실행 결과 처리 함수가 있다.
                    //console.log(input.files[0]);
                    reader.readAsDataURL(input.files[i]);
                    
                }
			}
        }
    </script>
</body>
</html>