<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
</head>
<body>
    <%-include('../inc/Top.ejs') %>
    <hr />
    <div class="container">
        <h2>새 상품 추가</h2>
        <form action="/shop/insert" method="post">
            <table class="table">
                <tr>
                    <th>NAME</th>
                    <td><input type="text" name="name" value=> </td>
                </tr>
                <tr>
                    <th>PRICE</th>
                    <td><input type="number" name="price" value=""/></td>
                </tr>
                <tr>
                    <th>YEAR</th>
                    <td><input type="number" name="year" value=""/></td>
                </tr>
                <tr>
                    <th>COMPANY</th>
                    <td><input type="text" name="company" value=""/></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="추가하기">
                    </td>
                </tr>
            </table>
        </form>
        <hr/>
        <%-include('./ShopNav.ejs') %>
    </div>
</body>
</html>